{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-md-6">

        <div class="alert alert-success mt-5 text-center">

            <h3>Password Reset Email Sent</h3>

            <hr>

            <p>
                We have emailed you instructions for resetting your password.
            </p>

            <p>
                Please check your email inbox.
            </p>

            <a href="{% url 'login' %}"
               class="btn btn-primary">

                Back to Login

            </a>

        </div>

    </div>

</div>

{% endblock %}